sagemaker==2.199.0
langchain==0.0.348
boto3==1.33.12
botocore==1.33.12
termcolor
transformers
librosa
opensearch-py==2.4.2
pypdf
spacy
llmsherpa
anthropic
SQLAlchemy==2.0.23
llmsherpa
anthropic
faiss-cpu==1.7.4
