.github

# API Key File

**/secrets.env
**/.env

# DS_store
.DS_Store
**/.DS_Store

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

src/release/2018-09/AWS Korea AI ML Immersion Day Hands-on PilHoKim 5th September 2018.pdf
src/release/2018-09/lambda_function.py
src/release/2018-09/module3-video-game-sales-xgboost.ipynb
src/release/2018-09/module4-TensorFlow_Distributed_MNIST.ipynb
src/release/2018-09/module5-Image-classification-transfer-learning.ipynb
src/release/2018-09/module6-DeepAR-HomeElectric.ipynb
src/release/2018-09/module7-Movie recommendation on Amazon SageMaker Using Factorization Machines-5thSep2018.ipynb
src/release/2018-09/module8-SageMaker-Seq2Seq-Translation-English-German-InternetFacingApp.ipynb
src/release/2018-09/README.md
src/release/2018-09/sample_query.json
*.swp
doc/labguide/Korean/~$S Korea AI ML Immersion Day Hands-on PilHoKim 8th October 2018.docx
doc/labguide/Korean/~$S Korea AI ML Immersion Day Hands-on PilHoKim 23rd November 2018.docx

# Dataset

genai/aws-gen-ai-kr/30_fine_tune/reranker-kr/dataset/msmarco/
genai/aws-gen-ai-kr/30_fine_tune/reranker-kr/dataset/translated/
genai/aws-gen-ai-kr/30_fine_tune/reranker-kr/model/

genai/aws-gen-ai-kr/11_bedrock-with-opensearch/data/hanwhalife/
genai/aws-gen-ai-kr/11_bedrock-with-opensearch/data/kt/
genai/aws-gen-ai-kr/20_applications/19_agentic_rag/.env
