sagemaker==2.240.0
torch==2.6.0
transformers==4.49.0
datasets==3.3.2
accelerate==1.4.0
bitsandbytes==0.45.2
huggingface_hub==0.29.0
peft==0.14.0
matplotlib==3.10.0
pynvml==12.0.0
trl==0.15.1
numpy==1.26.4
scipy==1.15.2
scikit-learn==1.6.1
fsspec
s3fs
torchaudio