boto3==1.38.8
langgraph==0.4.1
langchain
langchain-community==0.3.23
langchain-experimental==0.3.4
langchain-aws==0.2.19
langfuse==2.60.3
tavily-python==0.7.1
python-dotenv==1.1.0
termcolor==3.1.0
matplotlib==3.10.1
pillow==11.2.1
jq==1.8.0
bs4==0.0.2
markdownify==1.1.0
readabilipy==0.3.0
pandas==2.2.3
numpy==2.2.5
yfinance==0.2.58
socksio==1.0.0
markdownify==1.1.0
uvicorn==0.34.2
sse-starlette==2.3.3
langchain-deepseek==0.1.3
playwright==1.52.0
lovelyplots==1.0.2
weasyprint==65.1
streamlit==1.45.0
seaborn==0.13.2