tensorboard==2.17.1
datasets==3.0.0
huggingface_hub==0.25.1
trl==0.11.1
bitsandbytes==0.44.0
peft==0.12.0
accelerate==0.34.2
sagemaker==2.232.1
pickleshare==0.7.5
matplotlib==3.9.2
transformers==4.40.2
torch==2.4.1