#transformers==4.40.0
#datasets==2.18.0
#accelerate==0.29.3
#evaluate==0.4.1
#bitsandbytes==0.43.1
#huggingface_hub==0.22.2
#trl==0.8.6
#peft==0.10.0
#torch==2.1.1
#sagemaker-mlflow==0.1.0


datasets==3.0.0
trl==0.11.1
bitsandbytes==0.44.0
peft==0.12.0
accelerate==0.34.2
sagemaker==2.232.1
transformers==4.45.1
#torch==2.4.1
sagemaker-mlflow==0.1.0
